.nowrap {
  white-space: nowrap;
}

.exit-icon {
  width: 25px;
  height: 25px;
}

.form-icon {
  width: 20px;
  height: 20px;
}

.icon-green {
  color: green;
}

.icon-red {
  color: red;
}

.text-red {
  color: red;
}

/* Result.js */
.result-form-item {
  padding-left: 8px;
  align-items: center;
}

.form-checkbox {
  width: 20px;
  height: 20px;
}
